:root{
    /* Fontes */
    --font-dm-sans: "DM Sans", sans-serif ;

    /* COLORS */
    --bg-icon:#161616;
    --bg-arrow-color: rgba(0,0,07);
    --bg-change-color: #111111; 
    --font-color: #fff;

    --bg-music-card: #1f1f1f ;
    --bg-music-card-change: #292929;
} 