
*{
    padding: 0;
    margin: 0;
}


    Body{
        background-color: #000;
        font-family: var(--font-dm-sans);
        overflow-y: hidden;
    }

 
        .sidebar{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            padding: 12px;
            width: 300px;
        }

          .sidebar_nav{
              background-color: #121212;
              border-radius: 8px;
              padding: 16px 0 0 16px;
          }

          .Logo{
            background: #121212;
            display: flex;
            border-radius: 8px;
            padding: 16px 0 0 16px;
            }

    .sidebar_nav .Logo img{
        width: 80px;
    }

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

    .sidebar ul li {
        padding: 10px 0;
    }

        .sidebar nav ul li a{
            color: #b3b3b3;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
        }
        
        .sidebar nav ul li a span {
            margin-right: 10px;
        }

        .fa-home {
            font-size: 20px;
        }

        .fa-search {
            font-size: 20px;
        }

        .Biblioteca{
            margin-top: 10px;
            background-color: #121212;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 4px 8px;
            color: #b3b3b3;
            font-weight: 700 ;
            font-size: 10px;
                 
        }


        .Biblioteca  .Biblioteca__content{
            display: flex;
            justify-content: space-between;
         }

        .Biblioteca .Biblioteca__button{
            margin-right: 73px;
            color: #b3b3b3;
            background-color: transparent;
            border: 0;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            padding: 20px 10px ;
            font-family: "DM Sans", sans-serif ;


        }  

         .Biblioteca .Bliblioteca__content .fa{
            font-size: 17px;
            margin-left: 20px;
            font-weight: 300;
            padding-right: -3px;
        }

        .Biblioteca .Bliblioteca__content .fa-plus{
            font-size: 20px;
            margin: 24px 10px;
        }

        /* PLAYLIS AAAAAAAAAAAAAAAAA */

                          .section-playlist{
                              display: flex ;
                              align-items: flex-start;
                              justify-content: space-between;
                              gap: 20px;
                              color: #b3b3b3;
                              font-weight: 600;
                              font-size: 16px;
                              margin: 8px 0px;
                              padding:16px 20px;
                              background-color: #242424;
                              border-radius: 8px;
                              font-family: "DM Sans", sans-serif ;

                          }
                      
                          .section-playlist  .section-playlist__content{
                              display: flex;
                              flex-direction: column;
                          }
                      
                      
                          .section-playlist__content .text{
                              padding-bottom: 14px;
                              color: #fff;

                          }
                      
                          .section-playlist__content .title{
                              font-weight: 700;
                          }
                      
                          .section-playlist__content  .subtitle{
                              font-weight: 500;
                              font-size: 14px;

                          }
                      

                               .section-playlist__content  .section-playlist__button {
                                   display: flex;
                                   justify-content: center;
                                   background-color: #fff;
                                   color: #000;
                                   border-radius: 20px;
                                   font-size: 12px;
                                   font-weight: 800;
                                   text-decoration: none;
                                   text-transform: none;
                                   padding: 10px;
                                   margin-top: 12px;
                                   border: 0px;
                                   width: 113px;
                                   font-family: "DM Sans", sans-serif ;


                               }


            /*  fim de PLAYLIS AAAAAAAAAAAAAAAAA */



            /* POD CAST AAAAAAAAAAAAAAAAAA   */

            .section-Podcast{
                display: flex ;
                align-items: flex-start;
                justify-content: space-between;
                gap: 20px;
                color: #b3b3b3;
                font-weight: 600;
                font-size: 14px;
                margin: 8px 0px;
                padding:30px 20px ;
                background-color: #242424;
                border-radius: 8px;
                font-family: "DM Sans", sans-serif ;

            }
        
            .section-Podcast  .section-Podcast__content{
                display: flex;
                flex-direction: column;
            }
        
        
            .section-Podcast__content .text{
                padding-bottom: 14px;
                color: #fff;

            }
        
            .section-Podcast__content .title{
                font-weight: 700;
            }
        
            .section-Podcast__content  .subtitle{
                font-weight: 500;
                font-size: 14px;

            }
        

                 .section-Podcast__content  .section-Podcast__button {
                     display: flex;
                     justify-content: center;
                     background-color: #fff;
                     color: #000;
                     border-radius: 20px;
                     font-size: 12px;
                     font-weight: 800;
                     text-decoration: none;
                     text-transform: none;
                     padding: 8px;
                     margin-top: 12px;
                     border: 0px;
                     width: 140px;
                     font-family: "DM Sans", sans-serif ;


                 }




/* fim do PODCAST AAAAAAAAAAAAAAAAAAAAAAA */





        .cookies{
            margin: 13vh 20px;
        }

        .sidebar .cookies a{
            color: #b3b3b3;
            font-weight: 500;
            font-size: 10px;
            text-decoration: none;
        } 

        .sidebar .cookies a:hover{
            text-decoration:underline;
        }



    .laguages .languages__button{
        align-items: center;
        background-color: transparent;
        border: 1px solid #878787;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        width: 170px;
        padding: 8px;
        margin: 8px;
        font-family: "DM Sans", sans-serif ;
        border-radius: 20px;
    }




    footer{     
        position: fixed;
        display: flex;
        width: 96.8vw;
        background-image: linear-gradient(90deg,#af2896,#509bf5);
        margin-top: 1vh;
        color: #fff;
        height: 3vh;
        padding: 20px 30px 20px 0px;
        overflow-x: hidden;
        justify-content: space-between;
        overflow: hidden;
        margin-left: 0.7vw;
    }

    footer .footer__content{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 1rem;
    }


    footer .footer__content .content__text{
        font-size: 14px;
        padding-bottom: 10PX;
        font-weight: 700;
        
    }


    footer .footer__button{
        padding: 0px 20px 0px 20px;
        width: 200px;
        border-radius: 25px;
        border: none;
        height: 50px;
        font-size: 1rem;
        font-weight: 600;
        margin-top: -8px;
        }







